/ {
    buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			/* gpio flags need validation */
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

    aliases {
        pushbutton = &button0;
    };
};